.container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .title {
    text-align: center;
    font-size: large;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .campaign-card {
    margin: 16px;
    width: 18rem;
    // border: 1px black solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .address-text {
    font-size: 0.5em;
  }
  
  .campaign-progress,
  .goal-achieved,
  .total-sum {
    //position: relative;
    top: calc(100% - 80px);
  }

  .collapse-transfers{
    width: -webkit-fill-available;
  }


  #overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: .80;
  }
.loader {
    margin: 0 auto;
    height: 64px;
    width: 64px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid firebrick;
    border-right-color: transparent;
    border-radius: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.little-loader-wrapper{
  display: inline-block;
  vertical-align: middle;
  padding: 8px 15px;
}
.little-loader {
  margin: 0 auto;
  height: 40px;
  width: 40px;
  animation: rotate 0.8s infinite linear;
  border: 5px solid firebrick;
  border-right-color: transparent;
  border-radius: 50%;
}